h1{
    margin: 20px;
    margin-bottom: 40px;
    margin-top: 0;
}

img{
    width: 100%;
}

.barang {
    margin: 20px;
    padding: 20px;
    padding-top: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

.harga{
    font-size: 24px;
    color: orangered;
}