<h1>Barang Keluar</h1>

<div class="container">
  <form class="navbar-form navbar-left" action="/dashboard/barangsewa/barangkeluar">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>

<div class="barang">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/barangsewa/kamera.jpg" class="img-thumbnail" alt="" style="margin-top: 10px;">
    </div>
    <div class="col-sm-8">
      <h2>Kamera Cannon</h2>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <p> <span class="glyphicon glyphicon-user"></span> Pemilik : Nizar Robbani</p>
          <p> <span class="glyphicon glyphicon-tag"></span> Kota Yogyakarta</p>
          <p> <span class="glyphicon glyphicon-earphone"></span> 0812783891</p>
          <p> <span class="glyphicon glyphicon-calendar"></span> Pinjam : 18-10-2019</p>
        </div>
        <div class="col-sm-6">
          <p> <span class="glyphicon glyphicon-user"></span> Penyewa : Muhammad Aris Margono</p>
          <p> <span class="glyphicon glyphicon-list-alt"></span> KTP </p>
          <p> <span class="glyphicon glyphicon-earphone"></span> 08771297183</p>
          <p> <span class="glyphicon glyphicon-calendar"></span> Kembali : 20-10-2019</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
      <small class="text-muted">Status : Sedang disewa</small>
      <span class="harga" style="float: right;">RP.55.000/Hari</span>
    </div>
  </div>
</div>

<div class="barang">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/barangsewa/sepeda.jpg" class="img-thumbnail" alt="" style="margin-top: 10px;">
    </div>
    <div class="col-sm-8">
      <h2>Sepeda Gunung</h2>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <p> <span class="glyphicon glyphicon-user"></span> Pemilik : Bycycle comp.</p>
          <p> <span class="glyphicon glyphicon-tag"></span> Bandung</p>
          <p> <span class="glyphicon glyphicon-earphone"></span> 0812864012</p>
          <p> <span class="glyphicon glyphicon-calendar"></span> Pinjam : 20-10-2019</p>
        </div>
        <div class="col-sm-6">
          <p> <span class="glyphicon glyphicon-user"></span> Penyewa : Ahmad Raffi</p>
          <p> <span class="glyphicon glyphicon-list-alt"></span> KTM </p>
          <p> <span class="glyphicon glyphicon-earphone"></span> 087778812940</p>
          <p> <span class="glyphicon glyphicon-calendar"></span> Kembali : 21-10-2019</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
      <small class="text-muted">Status : Sedang disewa</small>
      <span class="harga" style="float: right;">RP.25.000/Hari</span>
    </div>
  </div>
</div>

<div class="barang">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/barangsewa/ps4.jpg" class="img-thumbnail" alt="" style="margin-top: 10px;">
    </div>
    <div class="col-sm-8">
      <h2>Playstation 4</h2>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <p> <span class="glyphicon glyphicon-user"></span> Pemilik : PS Rental</p>
          <p> <span class="glyphicon glyphicon-tag"></span> Kota Semarang</p>
          <p> <span class="glyphicon glyphicon-earphone"></span> 085612948712</p>
          <p> <span class="glyphicon glyphicon-calendar"></span> Pinjam : 21-10-2019</p>
        </div>
        <div class="col-sm-6">
          <p> <span class="glyphicon glyphicon-user"></span> Penyewa : Dimas Fatur</p>
          <p> <span class="glyphicon glyphicon-list-alt"></span> KTP </p>
          <p> <span class="glyphicon glyphicon-earphone"></span> 08771297183</p>
          <p> <span class="glyphicon glyphicon-calendar"></span> Kembali : 24-10-2019</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
      <small class="text-muted">Status : Sedang disewa</small>
      <span class="harga" style="float: right;">RP.30.000/Hari</span>
    </div>
  </div>
</div>

<div class="barang">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/barangsewa/tenda.jpg" class="img-thumbnail" alt="" style="margin-top: 10px;">
    </div>
    <div class="col-sm-8">
      <h2>Tenda Camping</h2>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <p> <span class="glyphicon glyphicon-user"></span> Pemilik : Rismanto Rizal</p>
          <p> <span class="glyphicon glyphicon-tag"></span> Kota Malang</p>
          <p> <span class="glyphicon glyphicon-earphone"></span> 08112781291</p>
          <p> <span class="glyphicon glyphicon-calendar"></span> Pinjam : 20-10-2019</p>
        </div>
        <div class="col-sm-6">
          <p> <span class="glyphicon glyphicon-user"></span> Penyewa : Rahman Aulia</p>
          <p> <span class="glyphicon glyphicon-list-alt"></span> KTM </p>
          <p> <span class="glyphicon glyphicon-earphone"></span> 08771297183</p>
          <p> <span class="glyphicon glyphicon-calendar"></span> Kembali : 27-10-2019</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
      <small class="text-muted">Status : Sedang disewa</small>
      <span class="harga" style="float: right;">RP.40.000/Hari</span>
    </div>
  </div>
</div>

<div class="barang">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/barangsewa/motor.jpeg" class="img-thumbnail" alt="" style="margin-top: 10px;">
    </div>
    <div class="col-sm-8">
      <h2>Yamaha Mio J 125CC</h2>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <p> <span class="glyphicon glyphicon-user"></span> Pemilik : Motor Rental</p>
          <p> <span class="glyphicon glyphicon-tag"></span> Kota Solo</p>
          <p> <span class="glyphicon glyphicon-earphone"></span> 08121211891</p>
          <p> <span class="glyphicon glyphicon-calendar"></span> Pinjam : 23-10-2019</p>
        </div>
        <div class="col-sm-6">
          <p> <span class="glyphicon glyphicon-user"></span> Penyewa : Fachri Alfa</p>
          <p> <span class="glyphicon glyphicon-list-alt"></span> KTP </p>
          <p> <span class="glyphicon glyphicon-earphone"></span> 08771281201</p>
          <p> <span class="glyphicon glyphicon-calendar"></span> Kembali : 25-10-2019</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
      <small class="text-muted">Status : Sedang disewa</small>
      <span class="harga" style="float: right;">RP.35.000/Hari</span>
    </div>
  </div>
</div>

<nav aria-label="Page navigation" class="text-center">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>