<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>SEWA</b>BARANG</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Enter your email or phone number</p>

    <form>

      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email or phone number">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
    
     <div class="row">
        <div class="col-xs-12">
          <form method="post" action="verification">
          <button class="btn btn-primary btn-block btn-flat" (click)="verification()">Continue</button> </form>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
