

	<pre><div class="form-group">
      <label for="inputBrg" class="col-lg-2 control-label">Lama Sewa : </label>
      <div class="col-lg-10"><input type="number" min=1 max=300 name="brg" class="form-control" id="inputBrg" placeholder="Lama sewa" style="width:20%" >
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-12"><label for="booking_date">     Tanggal Sewa : </label><input type="text" 
      class="form-control date-input" name="booking_date" style="width:20%" />
          </div>
            </div>
	
	<section><h1>                   Hawker 900XP</h1><br>
	<img src="https://rentaljet.co.id/wp-content/uploads/2018/10/Rental-Jet-850x478.jpg" style="width: 40%">
	<h2>  HARGA SEWA: Rp 89,760,000 / 1 Jam</h2> <br>
	<h1>    TENTANG KENDARAAN</h1> <br>
    Seating : 8 VIP <br>
    Cruise Speed : 740 Km/h <br>
    Air Crew : 2 Cockpit & 1 Cabin <br>
    Details : Door Dimension: (w x h) 70 x 131cm <br>
    Baggage Volume: up to 1,4m3 <br>
    Max Range : 5,200 Km <br>
    Max Flight Time : 5,5 Hours <br>
    Base : BTO <br>
    FASILITAS: <br>
	 AC<br>
     Cruise Control<br>
     Minuman<br>
     Sound System<br>
     Pickup by Alphard<br>
     Full-stocked Galley<br>
     Hot meals service<br>
     Refrigerator (Lemari Es)<br>
     Lavatory (Toilet)<br>

</section>



	<div class="form-group padd">
      <div class="col-lg-10 col-lg-offset-2">
		<button class="btn btn-primary" name="btn">PESAN SEKARANG</button>
	  </div>
	</div>
</pre>

