@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

h3, div {
  font-family: 'Roboto', sans-serif;
}

h3 {
  margin-left: 15px;
  font-size: 20px;
}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #f1f1f1;
}

.dropbtn {
  background-color: #ddd;
  color: black;
  padding: 10px 20px;
  margin: 4px 2px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #f1f1f1;}



.row {
  margin-left: 5px;
  margin-right: 5px;
}

.row label {
  margin-left: 12px;
}

.produk {
  display: flex;
}

.card {
  display: -webkit-box;   
  display: -moz-box;  
  display: -ms-flexbox; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 190px;
  margin: 20px auto;
  text-align: left;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 16%;
  flex-direction: row;
}

.card h4 a:hover {
    color: #fbb72c;
}

.product-details {
    padding: 20px;
}

.product-tumb {
    height: 170px;
    padding: 14px;
    text-align: center;
    justify-content: center;

}

.product-category {
    display: block;
    font-size: 12px;
    font-weight: 70;
    text-transform: uppercase;
    color: #6699FF;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 1px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {

    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.price {
    font-size: 14px;
    color: #fbb72c;
    font-weight: 600;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.left carousel-control {
  height: 100px;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
}