@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background-color: #ffffff;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #000;
}
a:hover{
  color: #B7977B;
}

p {
  font-size: 13px;
}

/* Important code */
input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}
label {
  font-weight: bold;
  font-size: 14px;
  display: block;
  float: left;
  padding: 5px 17px;
  border-top: 2px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #DDD;

}
label:hover {
  cursor: pointer;
}
#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5, #tab6:checked ~ #content6, #tab7:checked ~ #content7, #tab8:checked ~ #content8, #tab9:checked ~ #content9, #tab10:checked ~ #content10 {
  display: block;
}
input:checked + label {
  border-top-color: #B7977B;
  border-right-color: #DDD;
  border-left-color: #DDD;
  border-bottom-color: transparent;
  text-decoration: none;
}

/* -------------  Style populer,terbaru,rekomendasi  -----------  */
h3 {
  a {
  font-size: 14px;

  }
}

.produk {
  display: flex;
}

.card {
  display: -webkit-box;   
  display: -moz-box;  
  display: -ms-flexbox; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 190px;
  margin: 20px auto;
  text-align: left;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 16%;
  flex-direction: row;
}

.card h4 a:hover {
    color: #fbb72c;
}

.product-details {
    padding: 20px;
}

.product-tumb {
    height: 170px;
    padding: 14px;
    text-align: center;
    justify-content: center;

}

.product-category {
    display: block;
    font-size: 11px;
    font-weight: 70;
    text-transform: uppercase;
    color: #6699FF;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 1px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {

    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.price {
    font-size: 14px;
    color: #fbb72c;
    font-weight: 600;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.left carousel-control {
  height: 100px;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
}


