@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

div, h3
{
    font-family: 'Roboto', sans-serif;
}

/*----------------   promosi   -------------------  */
.carousel-inner img {
      width: 50%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

@media (max-width: 600px) {
  .carousel-caption {
     display: none; 
    }
}

/* ----------------	Style the navigation menu ---------------	*/
h3 {
	font-size: 18x;
	text-align : left;
  margin-left: 15px;
}

.kat {
  text-align: center;
}

.button {
  background-color: #FF9900;
  border: none;
  color: white;
  padding: 10px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  font-family: Roboto;
  text-decoration: none;
}
.button a {
  text-decoration: none;
  color: white;
}


.button:hover {
  background-color: #FFCC66;
}

.button-area-line:hover {opacity: 0.6}

/* ------------- 	Style populer,terbaru,rekomendasi  -----------	*/
h3 {
  a {
  font-size: 14px;

  }
}

.produk {
  display: flex;
}

.card {
  display: -webkit-box;   
  display: -moz-box;  
  display: -ms-flexbox; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 190px;
  margin: 20px auto;
  text-align: left;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 16%;
  flex-direction: row;
}

.card h4 a:hover {
    color: #fbb72c;
}

.product-details {
    padding: 20px;
}

.product-tumb {
    height: 170px;
    padding: 14px;
    text-align: center;
    justify-content: center;

}

.product-category {
    display: block;
    font-size: 12px;
    font-weight: 70;
    text-transform: uppercase;
    color: #6699FF;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 1px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {

    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.price {
    font-size: 14px;
    color: #fbb72c;
    font-weight: 600;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.left carousel-control {
  height: 100px;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
}


