<div class="jumbotron">

	<h2 style="margin-bottom: 30px;">Informasi Barang Sewa</h2>

	<div class="row">
		<div class="col-sm-6 col-md-4 text-center">
			<div class="panel panel-default">
				<div class="panel-body thumbnail">
					<img src="assets/barangsewa/sepeda.jpg" alt="...">
					<div class="caption">
						<h3>Sepeda Gunung</h3>
						<p><span class="glyphicon glyphicon-ok"></span> Verified<br>
							<span class="glyphicon glyphicon-home"></span> Bycycle Rent<br>
							<span class="glyphicon glyphicon-map-marker"></span> Kota Bandung
						</p>
						<p><a href="#" class="btn btn-primary" role="button">Selengkapnya >></a>
					</div>
				</div>
				<div class="panel-footer">
					<h4><span class="glyphicon glyphicon-tags"></span> Rp.25.000/Hari</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-4 text-center">
			<div class="panel panel-default">
				<div class="panel-body thumbnail">
					<img src="assets/barangsewa/tenda.jpg" alt="...">
					<div class="caption">
						<h3>Tenda</h3>
						<p><span class="glyphicon glyphicon-ok"></span> Verified<br>
							<span class="glyphicon glyphicon-home"></span> HR Adventure<br>
							<span class="glyphicon glyphicon-map-marker"></span> Kota Malang
						</p>
						<p><a href="#" class="btn btn-primary" role="button">Selengkapnya >></a>
					</div>
				</div>
				<div class="panel-footer">
					<h4><span class="glyphicon glyphicon-tags"></span> Rp.35.000/Hari</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-4 text-center">
			<div class="panel panel-default">
				<div class="panel-body thumbnail">
					<img src="assets/barangsewa/ps4.jpg" alt="...">
					<div class="caption">
						<h3>Playstation 4</h3>
						<p><span class="glyphicon glyphicon-ok"></span> Verified<br>
							<span class="glyphicon glyphicon-home"></span> Warunk game<br>
							<span class="glyphicon glyphicon-map-marker"></span> Kota Bandung
						</p>
						<p><a href="#" class="btn btn-primary" role="button">Selengkapnya >></a>
					</div>
				</div>
				<div class="panel-footer">
					<h4><span class="glyphicon glyphicon-tags"></span> Rp.30.000/Hari</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-4 text-center">
			<div class="panel panel-default">
				<div class="panel-body thumbnail">
					<img src="assets/barangsewa/motor.jpeg" alt="...">
					<div class="caption">
						<h3>Yamaha Mio J 150cc</h3>
						<p><span class="glyphicon glyphicon-ok"></span> Verified<br>
							<span class="glyphicon glyphicon-home"></span> AN Transport<br>
							<span class="glyphicon glyphicon-map-marker"></span> Kota Semarang
						</p>
						<p><a href="#" class="btn btn-primary" role="button">Selengkapnya >></a>
					</div>
				</div>
				<div class="panel-footer">
					<h4><span class="glyphicon glyphicon-tags"></span> Rp.30.000/Hari</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-4 text-center">
			<div class="panel panel-default">
				<div class="panel-body thumbnail">
					<img src="assets/barangsewa/kamera.jpeg" alt="...">
					<div class="caption">
						<h3>Kamera Cannon</h3>
						<p><span class="glyphicon glyphicon-ok"></span> Verified<br>
							<span class="glyphicon glyphicon-home"></span> Electro co.<br>
							<span class="glyphicon glyphicon-map-marker"></span> Kota Jakarta
						</p>
						<p><a href="#" class="btn btn-primary" role="button">Selengkapnya >></a>
					</div>
				</div>
				<div class="panel-footer">
					<h4><span class="glyphicon glyphicon-tags"></span> Rp.40.000/Hari</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-4 text-center">
			<div class="panel panel-default">
				<div class="panel-body thumbnail">
					<img src="assets/barangsewa/mobil.jpg" alt="...">
					<div class="caption">
						<h3>Toyota Avanza</h3>
						<p><span class="glyphicon glyphicon-ok"></span> Verified<br>
							<span class="glyphicon glyphicon-home"></span> AN Transport<br>
							<span class="glyphicon glyphicon-map-marker"></span> Kota Semarang
						</p>
						<p><a href="#" class="btn btn-primary" role="button">Selengkapnya >></a>
					</div>
				</div>
				<div class="panel-footer">
					<h4><span class="glyphicon glyphicon-tags"></span> Rp.300.000/Hari</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-4 text-center">
			<div class="panel panel-default">
				<div class="panel-body thumbnail">
					<img src="assets/barangsewa/stroller.jpg" alt="...">
					<div class="caption">
						<h3>Stroller</h3>
						<p><span class="glyphicon glyphicon-ok"></span> Verified<br>
							<span class="glyphicon glyphicon-home"></span> Kids Park<br>
							<span class="glyphicon glyphicon-map-marker"></span> Kota Bekasi
						</p>
						<p><a href="#" class="btn btn-primary" role="button">Selengkapnya >></a>
					</div>
				</div>
				<div class="panel-footer">
					<h4><span class="glyphicon glyphicon-tags"></span> Rp.30.000/Hari</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-4 text-center">
			<div class="panel panel-default">
				<div class="panel-body thumbnail">
					<img src="assets/barangsewa/tas.jpg" alt="...">
					<div class="caption">
						<h3>Tas Backpacker</h3>
						<p><span class="glyphicon glyphicon-ok"></span> Verified<br>
							<span class="glyphicon glyphicon-home"></span> HR Adventure<br>
							<span class="glyphicon glyphicon-map-marker"></span> Kota Malang
						</p>
						<p><a href="#" class="btn btn-primary" role="button">Selengkapnya >></a>
					</div>
				</div>
				<div class="panel-footer">
					<h4><span class="glyphicon glyphicon-tags"></span> Rp.28.000/Hari</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-4 text-center">
			<div class="panel panel-default">
				<div class="panel-body thumbnail">
					<img src="assets/barangsewa/gopro.jpg" alt="...">
					<div class="caption">
						<h3>Go Pro</h3>
						<p><span class="glyphicon glyphicon-ok"></span> Verified<br>
							<span class="glyphicon glyphicon-home"></span> Electro co.<br>
							<span class="glyphicon glyphicon-map-marker"></span> Kota Bandung
						</p>
						<p><a href="#" class="btn btn-primary" role="button">Selengkapnya >></a>
					</div>
				</div>
				<div class="panel-footer">
					<h4><span class="glyphicon glyphicon-tags"></span> Rp.45.000/Hari</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<nav aria-label="Page navigation" class="text-center">
	<ul class="pagination">
		<li>
			<a href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li>
			<a href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>