<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="treeview">
        <a routerLink="/dashboard/katalog" routerLinkActive="active">
          <i class="fa fa-filter"></i> <span>Katalog</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="./usermanagement" routerLinkActive="active">
          <i class="fa fa-database"></i>
          <span>User Management</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="./barangsewa" routerLinkActive="active">
          <i class="fa fa-files-o"></i>
          <span>Pengelolaan Barang Sewa</span>
        </a>
      </li>
      <li>
        <a routerLink="./pemesanan" routerLinkActive="active">
          <i class="fa fa-cart-plus"></i> <span>Pemesanan</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-green">new</small>
          </span>
        </a>
      </li>
      <li>
        <a routerLink="./pembayaran" routerLinkActive="active">
          <i class="fa fa-money"></i> <span>Pembayaran</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-green">new</small>
          </span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="./promo" routerLinkActive="active">
          <i class="fa fa-pie-chart"></i>
          <span>Promo</span>
          <span class="pull-right-container">
            <span class="label label-primary pull-right">new</span>
          </span>
        </a>
      </li>
      
      <li class="treeview">
        <a routerLink="./laporan" routerLinkActive="active">
          <i class="fa fa-table"></i> <span>Laporan</span>
        </a>

      </li>
      <li>
        <a href="#">
          <i class="fa fa-sign-out"></i> <span>Log out</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>