<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>SEWA</b>BARANG</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form>

      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

     <!-- /.col -->
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary btn-block btn-flat" (click)="login()">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

      <br>
      <a href="forgot" routerlink="/forgot">Forgot Password?</a>

    <div class="social-auth-links text-center">
      <p>- or sign in with-</p>
      <a href="https://id-id.facebook.com/login/" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="https://accounts.google.com/Login/signinchooser?hl=ID&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>
    <!-- /.social-auth-links -->

    <a href="register" routerlink="/register" class="text-center">or create a new account</a>

  </div>
  <!-- /.login-box-body -->
</div>
